@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-mode-element: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
  --bg-dark: hsl(207, 26%, 17%); /* (Dark Mode Background) */
  --light-mode-text: hsl(200, 15%, 8%); /* (Light Mode Text) */
  --light-mode-input: hsl(0, 0%, 52%); /* (Light Mode Input) */
  --bg-light: hsl(0, 0%, 98%); /* (Light Mode Background) */
  --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
